<a href="https://colab.research.google.com/github/amyth18/CS598-Deep-Learning-Final-Project/blob/main/Misc_Utilities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install texthero

In [ ]:
import pandas as pd
import numpy as np
import pickle
import texthero as hero
from texthero import preprocessing

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
PROJECT_PATH = "/content/drive/My Drive/DLH Final Project"
MAX_WORDS = 1000

In [ ]:
df = pd.read_csv(f"{PROJECT_PATH}/mimic3/df_dataset.csv")

In [ ]:
df['CLEAN_TEXT'] = hero.clean(df['TEXT'])

In [ ]:
df['INPUT_TEXT'] = df['CLEAN_TEXT'].apply(lambda text: text.split(" ")[:MAX_WORDS])

In [ ]:
df['INPUT_TEXT'].head(5).apply(lambda t: len(t)).describe()

count       5.000000
mean      815.400000
std       412.778149
min        77.000000
25%      1000.000000
50%      1000.000000
75%      1000.000000
max      1000.000000
Name: INPUT_TEXT, dtype: float64

In [ ]:
df.head(5)

,Unnamed: 0,SUBJECT_ID,HADM_ID,TEXT,ICD9_CODE,CLEAN_TEXT,INPUT_TEXT
0,0,22532,167853.0,Admission Date: [**2151-7-16**] Dischar...,"['42731', '2762', '5070', '5119']",admission date discharge date service addendum...,"[admission, date, discharge, date, service, ad..."
1,1,22532,167853.0,Admission Date: [**2151-7-16**] Dischar...,"['42731', '2762', '5070', '5119']",admission date discharge date history present ...,"[admission, date, discharge, date, history, pr..."
2,2,13702,107527.0,Admission Date: [**2118-6-2**] Discharg...,"['51881', '486', '2761', '2449', '311']",admission date discharge date date birth sex f...,"[admission, date, discharge, date, date, birth..."
3,3,13702,167118.0,Admission Date: [**2119-5-4**] D...,"['496', '2762']",admission date discharge date service cardioth...,"[admission, date, discharge, date, service, ca..."
4,4,13702,196489.0,Admission Date: [**2124-7-21**] ...,"['5849', '2760', '2762', '41401', '2724', '244...",admission date discharge date service medicine...,"[admission, date, discharge, date, service, me..."

In [ ]:
df = df[["SUBJECT_ID", "HADM_ID", "ICD9_CODE", "INPUT_TEXT"]]\
            .to_csv(f"{PROJECT_PATH}/mimic3/df_dataset_full_text.csv")